html, body {
  min-height: 100%
}

.bg_body {
  background-size: cover, cover;
  background-position: left bottom, center;
  background-repeat: no-repeat, no-repeat;
  height: 100%;
  width: 100%
}

.bg_gredient_1 {
  background: hsla(152, 100%, 50%, 1);
  background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FF87", endColorstr="#60EFFF", GradientType=1 );
}

.bg_gredient_2 {
  background: hsla(148, 89%, 78%, 1);
  background: linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(148, 89%, 78%, 1) 0%, hsla(210, 81%, 22%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#95F9C3", endColorstr="#0B3866", GradientType=1 );
}

.bg_gredient_3 {
  background: hsla(276, 91%, 79%, 1);
  background: linear-gradient(90deg, hsla(276, 91%, 79%, 1) 0%, hsla(254, 74%, 65%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(276, 91%, 79%, 1) 0%, hsla(254, 74%, 65%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(276, 91%, 79%, 1) 0%, hsla(254, 74%, 65%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D397FA", endColorstr="#8364E8", GradientType=1 );
}

.bg_gredient_4 {
  background: hsla(217, 100%, 50%, 1);
  background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}

.bg_gredient_5 {
  background: hsla(333, 100%, 53%, 1);
  background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
}

.bg_img1 {
  background-image: url(../resource/images/theme/Login/addition/SA.png), url(../resource/images/theme/1/BG.png)
}

.bg_img2 {
  background-image: url(../resource/images/theme/Login/addition/SA.png), url(../resource/images/theme/china/01_China_BG.png)
}

.bg_img3 {
  background-image: url(../resource/images/theme/Login/addition/SA.png), url(../resource/images/theme/mayan/01__Mayan_BG.png)
}

.bg_img4 {
  background-image: url(../resource/images/theme/Login/addition/SA.png), url(../resource/images/theme/music/01_Music_BG.png)
}

.bg_img5 {
  background-image: url(../resource/images/theme/Login/addition/SA.png), url(../resource/images/theme/neon/01_Neon_BG.png)
}

.bg_img6 {
  background-image: url(../resource/images/theme/Login/addition/SA.png), url(../resource/images/theme/racing/01_Racing_BG.png)
}

.bg_img7 {
  background-image: url(../resource/images/theme/Login/addition/SA.png), url(../resource/images/theme/skull/01_Skull_BG.png)
}

.bg_img8 {
  background-image: url(../resource/images/theme/Login/addition/SA.png), url(../resource/images/theme/space/01_Space_BG.png)
}

.bg_img9 {
  background-image: url(../resource/images/theme/Login/addition/SA.png), url(../resource/images/theme/winter/01_Winter_BG.png)
}

.div-center {
  width: 600px;
  height: 700px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 5%;
  text-align: center
}

@media only screen and (min-width:700px) {
  .div-center {
    height: 800px
  }
}

a:link {
  color: Khaki;
  text-decoration: none
}

a:visited {
  color: Khaki;
  text-decoration: none
}

a:hover {
  color: Khaki;
  text-decoration: none
}

a:active {
  color: Khaki;
  text-decoration: none
}
